<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
{% include "meta-data.html" %}
  </head>
  <body>
    <h1>Uploads files</h1>
    <h2>Mission number ({{n}})</h2>
    <form  method="post" enctype="multipart/form-data">
      <label>Caption</label>
      <input type="text" name="caption" value="">
      <label>Your picture</label>
      <input type="file" name="picture" value="">
      <input type="submit" value="Mission completed">


    </form>


  </body>
</html>
